.repo {
    margin: 5px;
    padding: 3px;
    display: inline-block;
    vertical-align: top;
    background-color: bisque;
    border: solid 2px darkslategray;
    border-radius: 8px;
    max-width: 30%;
}

#loading h1 {
    display: inline-block;
    background-color: bisque;
    color: blue;
    padding: 10px;
    border-radius: 15px;
    margin-left: 5px;
}

.plainLink {
    text-decoration: none;
    float: left;
}

.TODObtn {
    background-color: goldenrod;
    float: right;
    border-radius: 15px;
}

.repo > * {
    margin: 5px;
}

.repo .title {
    margin: 0px;
    display: inline-flex;
}

.desc {
    display: block;
    text-wrap: wrap;
    word-break: break-word;
}

.tag {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}
.repoLink {
    background-color: #99ccff;
    margin-right: 5px;
}
.license {
    background-color: white;
}
.lang {
    background-color: yellow;
}
.updatedAt {
    background-color: #D3D3D3;
}
