.resetbtn {
    background-color: blanchedalmond;
    float: right;
    border-radius: 15px;
}

.TODOdiv {
    margin: 10px;
    display: block;
    background-color: bisque;
    border: solid 2px green;
    border-radius: 8px;
}
.TODOdiv ul {
    margin-top: 0px;
    margin-bottom: 10px;
}
.TODOdiv li {
    margin: 5px;
    position: relative;
    background-color: greenyellow;
    border: solid 2px green;
    border-radius: 8px;
}
.TODOdiv li * {
    display: inline-block;
    margin: 4px;
    margin-right: 10px;
}
.TODOdiv li .tooltiptext {
    max-width: calc(100% - 34px);
    display: block;
    background-color: black;
    color: #fff;
    font-family: 'Consolas', monospace, '굴림체', 'GulimChe' !important;
    text-wrap: wrap;
    word-wrap: break-word;
    text-align: left;
    border-radius: 8px;
    padding: 1em 1em;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.TODOdiv li .tooltiptext .highlightedcode {
    color: yellow;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

.hidden {
    visibility: hidden;
}
.TODOdiv li:hover .tooltiptext {
    visibility: visible;
}

.TODOdiv li a {
    background-color: yellow;
    padding: 3px;
    border-radius: 5px;
}

.TODOdiv a h2 {
    display: inline-block;
    background-color: grey;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}

#loading h1 {
    display: inline-block;
    background-color: bisque;
    color: blue;
    padding: 10px;
    border-radius: 15px;
    margin-left: 5px;
}

