.repo {
    margin: 5px;
    padding: 3px;
    display: inline-block;
    vertical-align: top;
    background-color: bisque;
    border: solid 2px darkslategray;
    max-width: 30%
}

.desc {
    display: block;
    margin: 3px;
    text-wrap: wrap;
    word-break: break-word;
}

.title {
    padding: 3px;
}

.tag {
    margin: 3px;
    display: inline;
    padding: 3px 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}

.repoLink {
    background-color: #99ccff;
}
.license {
    background-color: white;
    text-decoration: none;
}
.lang {
    background-color: yellow;
}
